@font-face {
    font-family: Ballons;
    src: url(fonts/SFBalloons.ttf);
}
@font-face {
    font-family: SmilingLove;
    src: url(fonts/SmilingLove.ttf);
}

body {
    background-image: url(hris.jpg);
    background-repeat: repeat;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-size: 15vh;
}

.card {
    position: relative;
    width: 80%;
}

.card-header {
    font-family: Ballons;
    font-size: 3.5rem;
}
.card-title {
    font-family: SmilingLove;
}

.card-text {
    font-size: 0.9rem;
    opacity: 1;
    font-family: SmilingLove;
}

.end-text {
    font-size: 0.9rem;
    text-align: right;
    font-style: italic;
}